@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  text-align: center;
  /* font-style: 'Roboto', sans-serif; */
}
h2{
  font-family: 'Open Sans', sans-serif;
}
.slider :-webkit-slider-thumb{
  background: "red";
}